<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search YouTube</title>

    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome to Youtube API</h1><br><br>
      <div class="card bg-dark text-white">
        <p class="lead text-muted">
          <a href="/api/get_video_data/" class="btn btn-info" role="button">Get Video Data</a>
          <a href="/api/search/" class="btn btn-info" role="button">Search API</a>
        </p>
        <br>
        <h4>
          Add Key API: <a href="/api/add_key" class="btn btn-info" role="button">Add Key</a>
        </h4>
        <br>
        <h4>
          Databases API
          <a href="/api_db" class="btn btn-info" role="button">API DB</a>
          <a href="/video_db" class="btn btn-info" role="button">Video DB</a>
        </h4>
    </div>
    </div>
  </section>
</body>
</html>